<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('.btn').click(function () {
                var id = this.name
                // make this toggle switch
                var bool_id = '#'+id
                var boo = $(bool_id).text()
                if(boo === 'true')
                    boo = 'false'
                else
                    boo = 'true'
                console.log(boo.toString())
                $.ajax({
                    url: '/tasks/' + id,
                    type: 'PATCH',
                    dataType: 'json',
                    data: { "completed": boo.toString() },
                    success: function (data, status) {
                        //console.log(data)
                    }
                })
            })
        })
    </script>
</head>

<body>
    <h1>this is the task page</h1>
    <ul class='task-list'>
        {{#each task}}
        <li>
            <form method="patch" action="/tasks/" +this._id>
                <p>{{this.description}}</p>
                <p id={{this._id}}>{{this.completed}}</p>
                <button name={{this._id}} class="btn task">click me to complete</button>
            </form>
        </li>
        {{/each}}

        <form action="/tasks" method="post">
            <label for="description">Description</label>
            <input name="description" type="text" value="">
            <br>
            <label for="">Completed</label>
            <input type="radio" name="completed" value="true">
            <input type="submit" id="" value="">
        </form>
        {{!-- {{task}} --}}
    </ul>
</body>

</html>